:root {
    --primary-bgColor: #001e28;
    --secondary-bgColor: #B5E5CF;
    --tertiary-bgColor: #00141e;
    --bgBlack: #010a0f;
    --bgGlass: rgba(181,229,207, 0.6);
    --bgRed: #c80037;
    --bgYellow: #efcd00;

    --notification-bgColor: #01203e;
    --tab-bgColor: #0f2d37;
    --pinColor: #0787fa;
    --tab-bgHover: #555e61;

    --bgBoxRed: #dc0000;
    --bgBoxGreen: #00a83f;
    --bgBoxOrange: #f3a000;

    --primary-txtColor: #3D5B59;
    --secondary-txtColor: #f5f5f5;
    --tertiary-txtColor: #c8cdcd;

}

.all-standings {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.all-standings::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

iframe {
    height: 100vh;
}

iframe::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.cc-standings {
    height: 21rem;
}

.fc-standings {
    height: 17rem;
}

.pc-standings {
    height: 21rem;
}

.gc-standings {
    height: 20.5rem;
}

/** S I D E B A R  L E F T **/
.article .basketball-sideLeft {
    display: none;
}

/** M A I N  C O N T E N T **/
/** content header **/
.main-content .content-header {
    width: 100%;
    padding: 1rem 0 0 0;

    /* border-radius: 10px; */
    background-color: var(--tertiary-bgColor);
    color: var(--tertiary-txtColor);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-header .header-top {
    width: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.header-top .header-breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.header-breadcrumbs .material-icons {
    font-size: 1rem;
}

.header-breadcrumbs p{
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header-top .fa-chevron-right {
    font-size: 0.7rem;
}

.header-breadcrumbs .flags-img {
    height: 1rem;
    width: 1rem;
}

.flags-img .img-fluid {
    height: 100%;
    width: 100%;
}

.content-header .header-center {
    width: 100%;
    padding: 0.8rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header-center-img-wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header-center-img-wrapper .header-center-img {
    height: 5rem;
    width: 5rem;

    border-radius: 10px;
    background-color: whitesmoke;

    display: flex;
    align-items: center;
}
.header-center-img .img-fluid {
    height: auto;
    width: 100%;
}

.header-center-img-wrapper .header-center-title p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.header-center-img-wrapper .header-center-title small {
    font-size: 0.9rem;
}

.header-center .material-icons {
    color: var(--tab-bgHover);
}

.header-center .cc {
    color: var(--pinColor);
}

.content-header .header-bottom {
    width: 100%;
    padding: 0 1rem;
    overflow: auto;

    display: flex;
    align-items: center;
    gap: 1.8rem;

    border-top: 1px solid rgba(245,245,245, 0.1);
}

.header-bottom::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}

.header-bottom .tab-btn {
    color: var(--tertiary-txtColor);
    background-color: transparent;

    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 0 0.8rem 0;

    border: none;
    outline: none;
}

.header-bottom .tab-btn:hover {
    color: var(--secondary-txtColor);
}

.header-bottom .header-tab-active {
    color: var(--bgRed);
    font-weight: 600;

    border-bottom: 3px solid var(--bgRed);
}

/** content wrapper **/
.content-tab-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-wrapper .basketball-content-container {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--tertiary-bgColor);
}

.dropdown-container .basketball-dropdown-btn {
    background-color: var(--primary-bgColor);
    padding: 0.5rem;
}

.dropdown-container .pc {
    padding: 0.5rem 1rem;
}

.basketball-dropdown-btn .team-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.basketball-dropdown-title p{
    font-size: 0.8rem;
    color: var(--tertiary-txtColor);
}

.basketball-dropdown-title .cc{
    color: var(--bgYellow);
}

.basketball-dropdown-title small {
    font-size: 0.7rem;
    color: var(--tertiary-txtColor);
    text-transform: uppercase;
}

.basketball-dropdown-btn .team-div .pin-btn {
    color: var(--pinColor);
}

.standing-btn-wrapper .standing-btn-desktop {
    font-size: 0.85rem;
    text-decoration: underline;
    display: none;
}

.standing-btn-wrapper .standing-btn-mobile {
    background-color: transparent;
    border: none;
    outline: none;

    color: var(--tertiary-txtColor);
    font-size: 1rem;
}

.standing-list-box .basketball-standing-list {
    grid-template-columns: repeat(5, 1fr);
}

.basketball-standing-list .basketball-standing-team .team-name {
     font-size: 0.85rem;
}

.standing-list .basketball-standing-quarter {
    order: 3;
    width: 100%;
    padding: 0 0.8rem 0 0.3rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--tertiary-txtColor);
}

.standing-list .basketball-standing-quarter .s2 {
    display: none;
}

.standing-list .basketball-standing-quarter p {
    color: var(--tertiary-txtColor);
    font-weight: normal;
    font-size: 0.8rem;
}

.standing-list .standing-scores {
    width: 100%;
    display: flex;
    order: 4;
}

.standing-list .basketball-standing-scores .s1 {
    display: flex;
    font-size: 0.8rem;
}

.standing-list .basketball-standing-scores .s2 {
    display: none;
}

.content-wrapper .show-more-wrapper {
    background-color: var(--tertiary-bgColor);
    width: 100%;
    text-align: center;
}

.show-more-wrapper p {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--secondary-txtColor);
    text-decoration: underline;
    padding: 0 1rem 1rem 1rem;
}

/** standing form **/
.main-content .standing-form-content-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    background-color: var(--tertiary-bgColor);
}

.standing-form-content-wrapper .pc{
    width: 100%;
    border-bottom: 1px solid rgba(245,245,245, 0.1);
    padding: 0 0 1rem 0;
}

.standing-form-content-wrapper .tab-container .tab-div .tab-btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.6rem;
}

.standing-form-content-wrapper .standing-form-content-wrapper-nested-tab {
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.standing-form-content-wrapper-nested-tab .standing-form-content-container {
    /* border-radius: 8px; */
    /* padding: 0 0.5rem; */
    width: 100%;

    /* background-color: var(--primary-bgColor); */
}

.standing-form-content-container .pfl-standing-form-content-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.pfl-standing-form-content-wrapper .standing-form-content-container {
    flex-direction: column;
    gap: 1rem;
}

.standing-form-content-wrapper .fc-standing-form-content-container {
    /* background-color: var(--primary-bgColor); */
    width: 100%;
}

.standing-form-content-container .standing-form-content-container-tab-wrapper {
    width: 100%;
}

.standing-form-content-container-tab-wrapper .tab-container-wrapper {
    width: 100%;
    padding: 0.5rem;
    
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    background-color: var(--primary-bgColor);
}

.standing-form-content-container-tab-wrapper .tab-container {
    width: 100%;
    overflow: auto;

    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.standing-form-content-container-tab-wrapper .tab-container::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.standing-form-content-container-tab-wrapper .tab-container .tab-btn {
    border: none;
    outline: none;

    background-color: transparent;
    border-radius: 8px;
    
    padding: 0.5rem 0.6rem;
    color: var(--secondary-txtColor);

    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.standing-form-content-container-tab-wrapper .tab-container .standing-form-tab-active {
    background-color: var(--tab-bgHover);
}

.tab-container-wrapper .tab-container-btn {
    width: auto;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.tab-container-btn i {
    color: var(--tertiary-txtColor);
}

.standing-form-content-wrapper .pc-tab-container {
    padding: 0 0 1rem 0;
    border-bottom: 1px solid rgba(181,229,207, 0.1);
    width: 100%;
}

/** standing footer **/
.standing-form-content-wrapper-nested-tab .standing-form-footer {
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.standing-form-footer .standing-form-footer-top {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.standing-form-footer .square {
    height: 0.8rem;
    width: 0.9rem;

    background-color: var(--pinColor);
    border-radius: 3px;
}

.standing-form-footer p{
    font-size: 0.8rem;
    color: var(--tertiary-txtColor);
}

.standing-form-content-wrapper .cc-footer {
    padding: 0 1rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/** top scorers **/
.standing-form-content-container-tab-wrapper .tnp-tab-container-wrapper {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}

.tnp-tab-container-wrapper .tnp-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: relative;
}

.tnp-container .tnp-btn {
    background-color: var(--bgBlack);
    color: var(--tab-bgHover);
    font-size: 0.9rem;

    border: none;
    outline: none;
    border-radius: 5px;

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tnp-btn option {
    padding: 1rem 0;
}

.tnp-tab-container-wrapper .tnp-dropdown-content {
    background-color: var(--bgBlack);
    color: var(--tertiary-txtColor);
    border-radius: 5px;

    width: 16rem;
    padding: 0.5rem;
}

/** TABLE **/
.standing-form-content-container-tab-wrapper .standing-form-tab-content {
    width: 100%;
    background-color: transparent;

    overflow: auto;
    white-space: nowrap;
}

.standing-form-content-container-tab-wrapper .pfl-standing-form-tab-content {
    width: 100%;
    background-color: transparent;

    overflow: auto;
    white-space: nowrap;
}

.standing-form-content-container-tab-wrapper .standing-form-tab-content::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.standing-form-content-container-tab-wrapper .pfl-standing-form-tab-content::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.standing-form-tab-content table, .pfl-standing-form-tab-content table {
    width: 100%;
    border: none;

    background-color: var(--primary-bgColor);
    border-collapse: collapse;
}

table thead {
    width: 100%;
    background-color: var(--primary-bgColor);
}

table thead tr {
    padding: 0.3rem;
}

table thead tr th {
    font-size: 0.75rem;
    color: var(--tertiary-txtColor);
    text-align: start;
    padding: 0.2rem 0.5rem;
}

table tbody tr td:nth-child(1) p {
    background-color: var(--pinColor);
    border-radius: 3px;
    padding: 0.1rem 0;
    width: 1.5rem;
    text-align: center;
}

table tbody {
    width: 100%;
    background-color: var(--bgBlack);
    border: none;
}

table tbody tr td {
    font-size: 0.75rem;
    color: var(--tertiary-txtColor);
    text-align: start;
    padding: 0.1rem 0.5rem;
}

.td-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.td-wrapper .td-team-img {
    height: 1.1rem;
    width: 1.1rem;
}

.td-team-img .img-fluid {
    height: 100%;
    width: 100%;
}

.td-wrapper .team-name {
    width: 7rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table-form-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;

    padding: 0 0.2rem;
}

.table-form-grid .box {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-form-grid .box-green {
    background-color: var(--bgBoxGreen);
}

.table-form-grid .box-red {
    background-color: var(--bgBoxRed);
}

.table-form-grid .box-orange {
    background-color: var(--bgBoxOrange);
}


/** archive **/
.archive-content-wrapper {
    width: 100%;
    padding: 0.5rem;
}

.archive-content-wrapper .archive-content-wrapper-title {
    width: 100%;
    padding: 0.5rem 1rem;

    background-color: var(--primary-bgColor);
    color: var(--tertiary-txtColor);
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.archive-content-wrapper .archive-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.archive-div .archive-content-wrapper-list {
    color: var(--tertiary-txtColor);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.archive-div .archive-content-wrapper-list:nth-child(even) {
    background-color: var(--primary-bgColor);
    border-radius: 5px;
}

.archive-content-wrapper-list .archive-content-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.archive-content-container .archive-content-container-img {
    height: 1rem;
    width: 1rem;
}

.archive-content-container-img .img-fluid {
    height: 100%;
    width: 100%;
}


/** nested tab **/
.nested-tab, .nested-child-tab {
    width: 100%;
}

.hovered {
    background-color: var(--notification-bgColor)!important;
    color: var(--tertiary-txtColor);
}

.tab-container .tab-active {
    background-color: var(--bgRed);
}

/*********** B R E A K P O I N T S ****************/
@media only screen and (min-width: 576px) {
    .cc-standings {
        height: 22rem;
    }

    .fc-standings {
        height: 18.5rem;
    }

    .pc-standings {
        height: 21rem;
    }

    .gc-standings {
        height: 21.5rem;
    }

    .standing-list-box .basketball-standing-list {
        grid-template-columns: 1fr 20fr 1fr 1fr 1fr;
    }
    
    .basketball-standing-list .basketball-standing-list-btn {
        display: none;
    }

    .tab-container-wrapper .tab-container-btn {
        display: none;
    }

    .td-wrapper .team-name {
        width: 11rem;
    }

    /** basketball match **/
    .basketballs-standing-form-content-wrapper .basketballs-tab-container {
        padding: 0;
    }
    
    .basketballs-tab-container .tab-div {
        padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    }
    
    .basketballs-standing-form-content-wrapper .basketballs-tab-container .tab-div .tab-btn {
        font-size: 0.7rem;
    }
    
    .basketballs-nested-tab .tab-container .tab-div {
        padding: 0 0.5rem;
    }
    
    .basketballs-nested-tab .tab-container .tab-div .tab-btn {
        font-size: 0.7rem;
    }
    
    .basketballs-nested-tab .basketballs-standing-form-content-container {
        padding: 0;
    }
    
    .basketballs-standing-form-content-container .basketballs-match-grid-wrapper {
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        width: 100%;
        background-color: var(--tertiary-bgColor);
    }

    .basketballs-match-grid-wrapper .basketballs-match-top {
        width: 100%;
        background-color: var(--primary-bgColor);
        border-radius: 5px;
    }

    .basketballs-match-grid-wrapper .basketballs-match-prev-next {
        background-color: var(--primary-bgColor);
        border-bottom: 1px solid var(--bgBlack);

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding: 0.5rem 1rem;
    }

    .basketballs-match-prev-next button {
        background-color: var(--bgBlack);
        color: var(--tertiary-txtColor);

        border: none;
        outline: none;
        border-radius: 8px;
        padding: 0.5rem;

        display: flex;
        gap: 0.5rem;
    }
    
    .basketballs-match-top .match-grid {
        width: 100%;
        padding: 0.5rem 0;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .match-grid .match-grid-title {
        font-size: 0.7rem;
        font-weight: 600;
    
        text-transform: uppercase;
        color: var(--tertiary-txtColor);
        text-align: center;
    }

    .basketballs-match-grid-wrapper .match-grid {
        width: 100%;
        overflow: auto;

        background-color: var(--tertiary-bgColor);
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .basketballs-match-grid-wrapper .match-grid::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }
    
    .match-grid-finals .match-grid-title {
        font-size: 0.7rem;
        font-weight: 600;
    
        text-transform: uppercase;
        text-align: center;

        background-color: var(--primary-bgColor);
        color: var(--tertiary-txtColor);

        width: 100%;
        padding: 0.5rem;
    }

    .match-grid .match-grid-finals {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .match-grid-finals .quarter-finals-container {
        width: 100%;
        padding: 1rem 0.6rem 1rem 1rem;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;

        position: relative;
    }

    .match-grid-finals .semi-finals-container {
        width: 100%;
        height: 21%;
        padding: 1rem 0.6rem;

        display: grid;
        grid-template-rows: repeat(1, 1fr);
        place-items: center;
        gap: 1rem;

        position: relative;
        margin: auto;

        border-left: 1px solid rgba(181,229,207, 0.1);
    }

    .match-grid-finals .finals {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: repeat(1, 1fr);
        place-items: center;
    }

    .finals .finals-container {
        width: 100%;
        height: 50%;
        padding: 1rem 1rem 1rem 0.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        position: relative;

        border-left: 1px solid rgba(181,229,207, 0.1);
    }

    .finals-container .finals-place {
        width: 100%;
        padding: 0.5rem;
        background-color: var(--tab-bgColor);
        border-radius: 5px;
        text-align: center;
    }

    .finals-place p {
        text-transform: uppercase;
        color: var(--tertiary-txtColor);
        font-size: 0.8rem;
        font-weight: 600;
    }

    .quarter-finals-container .quarter-finals-wrapper, .semi-finals-container .semi-finals-wrapper, .finals-container .finals-wrapper {
        width: 100%;
        padding: 0.8rem 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        border: 1px solid rgba(181,229,207, 0.1);
        border-radius: 10px;
        cursor: pointer;
    }

    .quarter-finals-container .quarter-finals-wrapper::after {
        content: '—';

        position: absolute;
        right: -0.1rem;
        color: var(--tab-bgColor);
    }

    .semi-finals-container .semi-finals-wrapper::after {
        content: '—';

        position: absolute;
        top: 2rem;
        right: -0.1rem;
        color: var(--tab-bgColor);
    }

    .semi-finals-container .semi-finals-wrapper::before {
        content: '—';

        position: absolute;
        left: -0.1rem;
        color: var(--tab-bgColor);
    }

    .finals-container .finals-wrapper:first-child::before {
        content: '—';

        position: absolute;
        left: -0.1rem;
        color: var(--tab-bgColor);
    }

    .quarter-finals-container .quarter-finals-wrapper:hover, .semi-finals-container .semi-finals-wrapper:hover, .finals-container .finals-wrapper:hover {
        background-color: var(--notification-bgColor);
    }

    .quarter-finals-wrapper .quarter-finals-box, .semi-finals-wrapper .semi-finals-box, .finals-wrapper .finals-box {
        width: 100%;
        padding: 0 0.3rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .quarter-finals-box .quarter-finals-box-stats, .semi-finals-box .semi-finals-box-stats, .finals-box .finals-box-stats {
        width: 100%;

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .quarter-finals-box-stats .team-name-lead, .semi-finals-box-stats .team-name-lead, .finals-box-stats .team-name-lead {
        width: auto;
        display: flex;
        align-items: center;
        gap: 0.3rem;

        font-size: 1rem;
    }

    .quarter-finals-box-stats .team-name-lead  .team-name-lead-score, .semi-finals-box-stats .team-name-lead .team-name-lead-score, .finals-box-stats .team-name-lead .team-name-lead-score {
        color: var(--tab-bgHover);
        font-size: 0.75rem;
    }

    .quarter-finals-box-stats .team-logo, .semi-finals-box-stats .team-logo, .finals-box-stats .team-logo {
        height: 1rem;
        width: 1rem;
    }

    .team-logo img {
        height: 100%;
        width: 100%;
    }

    .quarter-finals-box-stats p:first-child, .semi-finals-box-stats p:first-child, .finals-box-stats p:first-child {
        color: var(--tertiary-txtColor);
        font-size: 0.75rem;
        font-weight: 600;

        width: 8.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .quarter-finals-box .quarter-finals-scores, .semi-finals-box .semi-finals-scores, .finals-box .finals-scores {
        width: 25%;

        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
    }

    .quarter-finals-scores p, .semi-finals-scores p, .finals-scores p {
        color: var(--tertiary-txtColor);
        font-weight: 600;
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 768px) {
    .fc-standings {
        height: 28.5rem;
    }

    /** S I D E B A R  L E F T **/
    .article .basketball-sideLeft {
        display: flex;
    }

    /** M A I N  C O N T E N T **/
    .main-content .content-header {
        border-radius: 10px;
    }

    .main-content .notification-wrapper {
        display: flex;
        border-radius: 10px;
    }

    .basketball-section .article {
        padding: 1rem;
    }

    .sideleft-center .basketball-team-pinned-list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .basketball-team-pinned-list .team-pinned-name {
        text-decoration: none;
        color: var(--secondary-txtColor);
        padding: 0.5rem 0.8rem;
        font-weight: 400;
        font-size: 0.8rem;
    }
    
    .basketball-team-pinned-list .team-pinned-name:hover {
        background-color: var(--tab-bgHover);
        cursor: pointer;
        border-radius: 5px;
    }
    
    .basketball-team-pinned-list .active-pinned-list {
        background-color: var(--tab-bgColor);
        border-radius: 5px;
    }

    .standing-btn-wrapper .standing-btn-mobile {
        display: none;
    }

    .content-wrapper .basketball-content-container {
        border-radius: 8px;
    }
    
    .main-content .content-wrapper {
        background-color: var(--tertiary-bgColor);
        padding: 1rem 1rem 0 1rem;
        border-radius: 10px;
    }

    .main-content .standing-form-content-wrapper {
        /* padding: 1rem; */
        border-radius: 10px;
    }

    .standing-form-content-wrapper .standing-form-content-container {
        border-radius: 8px;
    }

    .main-content .standing-form-content-wrapper {
        padding: 1rem;
    }

    .standing-form-content-wrapper .pc {
        padding: 1rem;
    }

    .standing-form-content-wrapper .standing-form-content-wrapper-nested-tab {
        padding: 0;
    }

    .standing-form-content-wrapper-nested-tab .standing-form-content-container {
        padding: 0;
    }

    .standing-form-content-wrapper .tab-container .tab-div {
        padding: 0;
    }

    .standing-form-content-wrapper .tab-container .tab-div .tab-btn {
        font-size: 0.75rem;
    }
    
    /** TABLE **/
    .td-wrapper .team-name {
        width: 5rem;
    }

    .semi-finals-container .semi-finals-wrapper::after {
        top: 2.1rem;
    }
}

@media only screen and (min-width: 992px) {
    .cc-standings {
        height: 21.5rem;
    }

    .fc-standings {
        height: 18.5rem;
    }

    .content-header .header-bottom {
        gap: 2rem;
    }

    .header-bottom .tab-btn {
        font-size: 0.8rem;
    }

    .team-div .basketball-dropdown-title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.5rem;
    }

    .basketball-dropdown-title p {
        font-size: 0.9rem;
    }

    .basketball-dropdown-title small {
        font-size: 0.9rem;
    }

    .standing-list-box .basketball-standing-list {
        grid-template-columns: 0.5rem 5fr 1fr 10fr 5fr;
    }

    .basketball-standing-list .basketball-standing-team {
        width: 20rem;
    }

    .basketball-standing-team .team-logo {
        width: 2rem;
    }

    .standing-list .basketball-standing-quarter {
        order: 0;
    }

    .standing-list .basketball-standing-quarter .s2 {
        display: block;
    }

    .standing-list .basketball-standing-scores .s2 {
        display: flex;
    }

    .basketball-standing-list .basketball-standing-list-btn {
        display: flex;
        order: 4;
    }
    
    .dropdown-container .fc {
        padding: 0.5rem 2.2rem;
    }

    .show-more-wrapper p {
        font-size: 0.8rem;
    }

    .standing-form-content-wrapper .pc-tab-container {
        padding: 0 0 1rem 0;
    }

    .standing-form-content-wrapper .pc-nested-tab {
        padding: 0;
    }

    .standing-form-content-wrapper .standing-form-content-container {
        background-color: var(--primary-bgColor);
        width: 100%;
    }

    .standing-form-content-wrapper .tab-container .tab-div .tab-btn {
        font-size: 0.8rem;
    }

     /** TABLE **/
    .td-wrapper .team-name {
        width: 18rem;
    }

    .quarter-finals-box-stats p, .semi-finals-box-stats p, .finals-box-stats p {
        font-size: 0.85rem;
    }

    .quarter-finals-box-stats p:first-child, .semi-finals-box-stats p:first-child, .finals-box-stats p:first-child {
        font-size: 0.9rem;
    }

    .quarter-finals-box-stats .team-name-lead  .team-name-lead-score, .semi-finals-box-stats .team-name-lead .team-name-lead-score, .finals-box-stats .team-name-lead .team-name-lead-score {
        font-size: 0.9rem;
    }

    .quarter-finals-scores p, .semi-finals-scores p, .finals-scores p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1280px) {
    .header-center-img-wrapper .header-center-title p {
        font-weight: 500;
        font-size: 1.3rem;
    }

    .header-center-img-wrapper .header-center-title small {
        font-weight: 500;
        font-size: 1rem;
    }

    .standing-form-content-wrapper .standing-form-content-container {
        border-radius: 8px;
    }

    .standing-list-box .basketball-standing-list {
        grid-template-columns: 1.5rem 5fr 1fr 10fr 5fr;
        padding: 1rem 0;
    }

    /** TABLE **/
    table thead tr {
        padding: 0.5rem auto;
    }

    table thead tr th { 
        font-size: 0.85rem;
    }

    table tbody tr td {
        font-size: 0.85rem;
    }

    .td-wrapper .team-name {
        width: 15rem;
    }

    .basketball-team-pinned-list .team-pinned-name {
        font-size: 0.9rem;
    }

    .basketball-standing-list .basketball-standing-team {
        width: 20rem;
    }
}