:root {
    --primary-bgColor: #001e28;
    --secondary-bgColor: #B5E5CF;
    --tertiary-bgColor: #00141e;
    --bgBlack: #010a0f;
    --bgGlass: rgba(181,229,207, 0.6);
    --bgRed: #c80037;
    --bgYellow: #efcd00;
    --bgGreen: #00a83f;

    --notification-bgColor: #01203e;
    --tab-bgColor: #0f2d37;
    --pinColor: #0787fa;
    --tab-bgHover: #555e61;

    --primary-txtColor: #3D5B59;
    --secondary-txtColor: #f5f5f5;
    --tertiary-txtColor: #c8cdcd;

}

/** S I D E B A R  L E F T **/
.article .football-sideLeft {
    display: none;
}

/** M A I N  C O N T E N T **/
.dropdown-btn .team-div .football-dropdown-title {
    color: var(--bgYellow);
    font-size: 0.9rem;
    font-weight: 600;
}

.main-content .pfl-standing-form-content-wrapper {
    padding: 0.5rem 0;
}

.standing-form-content-wrapper .pfl-tab-container {
    width: 100%;
    overflow: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.standing-form-content-wrapper .pfl-tab-container .tab-div {
    padding: 0;
}

.standing-form-content-wrapper .standing-form-content-container {
    background-color: var(--tertiary-bgColor);
    width: 100%;
}

.standing-form-content-container-tab-wrapper .standing-form-tab-content {
    margin-bottom: 1rem;
}

.standing-form-content-wrapper .pfl-form-footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.pfl-form-footer .standing-form-footer-top {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.standing-form-footer-top .pfl-form-footer-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pfl-form-footer-top .square-red {
    background-color: var(--bgRed);
}

.pfl-form-footer-top .square-green {
    background-color: var(--bgGreen);
}

.pfl-form-footer-top .fa-circle-info {
    color: var(--tab-bgHover);
}

.header-center-img-wrapper .header-center-img {
    padding: 0 1rem;
}

.header-center-img .img-fluid {
    height: 100%;
    width: 100%;
}

.slider-container {
    display: flex;
    overflow: hidden;
    width: 300px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    margin: 20px;
  }

  .slider {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  /*** tournament playoff****/
  .match-grid-finals .match-grid-title {
    font-size: 0.7rem;
    font-weight: 600;

    text-transform: uppercase;
    text-align: center;

    background-color: var(--primary-bgColor);
    color: var(--tertiary-txtColor);

    width: 100%;
    padding: 0.5rem;
}

.match-grid .match-grid-finals {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.match-grid-finals .quarter-finals-container {
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.match-grid-finals .semi-finals-container {
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
}

.match-grid-finals .finals {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
}

.finals .finals-container {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.finals-container .finals-place {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--tab-bgColor);
    border-radius: 5px;
    text-align: center;
}

.finals-place p {
    text-transform: uppercase;
    color: var(--tertiary-txtColor);
    font-size: 0.8rem;
    font-weight: 600;
}

.quarter-finals-container .quarter-finals-wrapper, .semi-finals-container .semi-finals-wrapper, .finals-container .finals-wrapper {
    width: 100%;
    padding: 0.8rem 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 1px solid rgba(181,229,207, 0.1);
    border-radius: 10px;

    position: relative;
}

.quarter-finals-wrapper::after, .semi-finals-wrapper::after {
    content: '---';
    color: rgba(181,229,207, 0.1);

    position: absolute;
    top: 1.5rem;
    right: -0.9rem;
}

.semi-finals-wrapper::before, .finals-wrapper::before {
    content: '---';
    color: rgba(181,229,207, 0.1);

    position: absolute;
    top: 1.5rem;
    left: -0.9rem;
}

.quarter-finals-wrapper .quarter-finals-box, .semi-finals-wrapper .semi-finals-box, .finals-wrapper .finals-box {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.quarter-finals-box .quarter-finals-box-stats, .semi-finals-box .semi-finals-box-stats, .finals-box .finals-box-stats {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.quarter-finals-box-stats .team-logo, .semi-finals-box-stats .team-logo, .finals-box-stats .team-logo {
    height: 1rem;
    width: 1rem;
}

.team-logo img {
    height: 100%;
    width: 100%;
}

.quarter-finals-box-stats p, .semi-finals-box-stats p, .finals-box-stats p {
    color: var(--tertiary-txtColor);
    font-size: 0.8rem;
    font-weight: 600;

    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quarter-finals-box .quarter-finals-scores, .semi-finals-box .semi-finals-scores, .finals-box .finals-scores {
    width: 25%;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quarter-finals-scores p, .semi-finals-scores p, .finals-scores p {
    color: var(--tertiary-txtColor);
    font-weight: 600;
    font-size: 0.9rem;
}

/****** B R E A K P O I N T S ********/
@media only screen and (min-width: 576px) {
    .cpa-standing-form-content-wrapper .cpa-tab-container {
        padding: 0;
    }
    
    .cpa-tab-container .tab-div {
        padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    }
    
    .cpa-standing-form-content-wrapper .cpa-tab-container .tab-div .tab-btn {
        font-size: 0.7rem;
    }
    
    .cpa-nested-tab .tab-container .tab-div {
        padding: 0 0.5rem;
    }
    
    .cpa-nested-tab .tab-container .tab-div .tab-btn {
        font-size: 0.7rem;
    }
    
    .cpa-nested-tab .cpa-standing-form-content-container {
        background-color: transparent;
        padding: 0;
    }
    
    .cpa-standing-form-content-container .cpa-match-grid-wrapper {
    
        display: flex;
        flex-direction: column;
        gap: 0;
        
        width: 100%;
    }

    .cpa-match-grid-wrapper .cpa-match-top {
        width: 100%;
    }

    .cpa-match-grid-wrapper .cpa-match-prev-next {
        background-color: var(--primary-bgColor);
        border-bottom: 1px solid var(--bgBlack);

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding: 0.5rem 1rem;
    }

    .cpa-match-prev-next button {
        background-color: var(--bgBlack);
        color: var(--tertiary-txtColor);

        border: none;
        outline: none;
        border-radius: 8px;
        padding: 0.5rem;

        display: flex;
        gap: 0.5rem;
    }
    
    .cpa-match-grid-wrapper .match-grid {
        width: 100%;
        overflow: auto;

        background-color: var(--tertiary-bgColor);
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .cpa-match-grid-wrapper .match-grid::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }
    
    
}

@media only screen and (min-width: 768px) {
    .article .football-sideLeft {
        width: 16rem;
        display: flex;
    }

    .main-content .pfl-standing-form-content-wrapper {
        padding: 0.8rem 0.8rem;
    }

    .standing-form-content-wrapper .pfl-tab-container {
        padding: 0;
    }
    

    .standing-form-content-wrapper .pfl-tab-container .tab-div {
        padding: 0;
    }

    .cpa-standing-form-content-wrapper .cpa-tab-container {
        padding: 0 0 0.8rem 0;
    }
    
    .cpa-tab-container .tab-div {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }
    
    .cpa-nested-tab .tab-container .tab-div {
        padding: 0;
    }

    .cpa-nested-tab .cpa-standing-form-content-container {
        background-color: transparent;
    }
    
    .cpa-standing-form-content-container .cpa-match-grid-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        
        width: 100%;
    }

    .cpa-match-grid-wrapper .cpa-match-top {
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        overflow: hidden;
    }
    
    .cpa-match-grid-wrapper .match-grid {
        width: 100%;
        background-color: var(--tertiary-bgColor);
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .match-grid-finals .mgt-qf {
        border-bottom-left-radius: 5px;
    }

    .match-grid-finals .mgt-final {
        border-bottom-right-radius: 5px;
    }

    .quarter-finals-box-stats p, .semi-finals-box-stats p, .finals-box-stats p {
        width: 4.37rem;
        font-size: 0.75rem;
    }

    .quarter-finals-scores p, .semi-finals-scores p, .finals-scores p {
        font-size: 0.75rem;
    }

    .finals-place p {
        font-size: 0.7rem;
    }
}


@media only screen and (min-width: 992px) {
    .standing-btn-wrapper .standing-btn-desktop {
        display: flex;
    }

    .standing-btn-desktop {
        border: none;
        outline: none;

        background-color: transparent;
        color: var(--tertiary-txtColor);
        padding: 0 1rem;
    }

    .pfl-form-footer .standing-form-footer-top  {
        flex-direction: row;
        align-items: center;
    }

    .cpa-standing-form-content-wrapper .cpa-tab-container .tab-div .tab-btn {
        font-size: 0.8rem;
    }

    .cpa-nested-tab .tab-container .tab-div .tab-btn {
        font-size: 0.8rem;
    }

     /** match **/
     .cpa-match-top .cpa-match-prev-next {
        display: none;
    }

    .match-grid-finals .mgt-qf {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .match-grid-finals .mgt-final {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .quarter-finals-box-stats p, .semi-finals-box-stats p, .finals-box-stats p {
        width: 7rem;
    }
}

@media only screen and (min-width: 1280px) {
    .quarter-finals-box-stats p, .semi-finals-box-stats p, .finals-box-stats p {
        width: 8rem;
    }
}