*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color:  var(--bgBlack);
}

:root {
    --primary-bgColor: #001e28;
    --secondary-bgColor: #B5E5CF;
    --tertiary-bgColor: #00141e;
    --bgBlack: #010a0f;
    --bgGlass: rgba(181,229,207, 0.6);
    --bgRed: #c80037;

    --notification-bgColor: #01203e;
    --tab-bgColor: #0f2d37;
    --pinColor: #0787fa;
    --tab-bgHover: #555e61;

    --primary-txtColor: #3D5B59;
    --secondary-txtColor: #f5f5f5;
    --tertiary-txtColor: #eeeeee;

}

.top-nav {
    width: 100%;
    height: auto;
    padding: 0.5rem 0 0 0;

    background-color: var(--tertiary-bgColor);
    color: var(--tertiary-txtColor);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav .advertisement-wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advertisement-wrapper p {
    font-size: 0.8rem;
    padding-bottom: 0.5rem
}

.advertisement-wrapper .advertisement-img {
    width: 100%;
    height: 5rem;
}

.advertisement-img .img-fluid {
    width: 100%;
    height: 100%;
}


/*** H E A D E R ***/
.header {
    background-color: var(--primary-bgColor);
    color: var(--secondary-txtColor);
    width: 100%;

    /* position: fixed;
    top: 0;
    z-index: 9999; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .nav {
    width: 100%;
    padding: 1rem 1rem 0.5rem 0.8rem;

    display: flex;
    align-items: start;
    justify-content: space-between;
}

/** NAV UPPER **/
.nav .logo-img {
    height: 1.7rem;
    width: 1.8rem;
    position: relative;
}

.logo-img .img-fluid {
    width: 100%;
    height: 100%;
}

.logo-img .logo-mobile {
    position: absolute;
}

.logo-img .logo-desktop {
    display: none;
}

.nav .nav-links {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    gap: 0.8rem;
    width: 100%;

    position: relative;
}

.nav-links .search-div {
    width: 100%;

    /* display: flex; */
    align-items: center;
    gap: 1rem;

    background-color: rgba(245,245,245, 0.1);
    border-radius: 10px;
}


.search-div .search-input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.6rem 1rem;

    color: var(--tertiary-txtColor);
}

.search-input::placeholder {
    color: var(--tertiary-txtColor);
}

.nav-links .navBtn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.nav .nav-links .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 0.9rem;
    padding: 0.6rem;

    color: var(--tertiary-txtColor);
    background-color: rgba(245,245,245, 0.1);

    border: none;
    outline: none;
    border-radius: 10px;
}

.dropdown-item {
    display: none;
}

.active {
    display: block;
}

.nav-links .menu-content {
    position: absolute;
    top: 2.5rem;
    z-index: 999;

    background-color: #191919;
    border-radius: 8px;
    padding: 0.8rem;
    width: 11rem;
}

.menu-content .menu-content-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.menu-content-wrapper .menu-link {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    gap: 0.8rem;

    text-decoration: none;
    cursor: pointer;
}

.menu-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.menu-link i {
    color: var(--secondary-txtColor);
    font-size: 0.9rem;
}

.menu-link p {
    color: var(--secondary-txtColor);
    font-size: 0.9rem;
}

/** NAV LOWER **/
.header .navigation {
    width: 100%;
    padding: 0.5rem 1rem 0rem 1rem;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;

    overflow: auto;
}

.navigation::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}

.navigation .navigation-links {
    color: var(--tertiary-txtColor);
    text-decoration: none;

    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding-bottom: 0.8rem;
}

.navigation-links i {
    font-size: 1.3rem;
}

.navigation .navigation-links:hover {
    color: var(--secondary-txtColor);
    border-bottom: 3px solid var(--bgRed);
}

.navigation-links p {
    padding: 0.13rem 0 0 0;
    font-size: 0.8rem;
}

.active-link {
    border-bottom: 3px solid var(--bgRed);
}

/*** M A I N ***/
.main {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main .section {
    width: 100%;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section .article {
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

/*** S I D E B A R  L E F T ***/
.article .sideLeft {
    width: 17rem;
    height: 43rem;
    color: var(--secondary-txtColor);

    position: sticky;
    top: 0;

    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

/** sidebar-top **/
.sideLeft .sideleft-top {
    border-bottom: 0.2px solid rgba(61,91,89, 0.5);
    width: 100%;
    padding: 0 0 0.4rem 0;
    text-align: center;
}

.sideleft-top p{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/** sidebar-center **/
.sideLeft .sideleft-center {
    width: 100%;
    height: 18rem;
    
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.9rem;
    margin: 1rem 0;
}

.sideleft-center::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.sideleft-center p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.sideleft-center .team-pinned-list {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--tertiary-txtColor);

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

    width: 100%;
}

.team-pinned-list .team-pinned-img {
    height: 1.8rem;
    width: 1rem;
}

.team-pinned-img .img-fluid {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(245,245,245, 0.1);
}

/** sidebar-bottom **/
.sideLeft .sideleft-bottom {
    border: 2px solid var(--tertiary-bgColor);
    width: 100%;
}

.sideleft-bottom .sideleft-advertisement {
    height: 15rem;
    width: 100%;
}

.sideleft-bottom .sideleft-advertisement .img-fluid {
    height: 100%;
    width: 100%;
}

/*** M A I N  C O N T E N T ***/
.article .main-content {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-content::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/** notif **/
.main-content .notification-wrapper {
    width: 100%;
    padding: 0.8rem 1rem;

    color: var(--tertiary-txtColor);
    background-color: var(--notification-bgColor);

    display: none;
    align-items: center;
    justify-content: space-between;

    border-radius: 25px;
}

.notification-wrapper .notif-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.notif-div .notif-img {
    height: 1rem;
}

.notif-img .img-fluid {
    width: 100%;
    height: 100%;
}

.notif-div p {
    font-size: 0.9rem;
}

.notification-wrapper .notif-btn {
    background-color: transparent;
    color: var(--tertiary-txtColor);
    font-size: 1rem;

    border: none;
    outline: none;
}

.notif-btn:hover {
    color: var(--secondary-txtColor);
}

/** content wrapper **/
.content-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
}

/** TAB **/
.content-wrapper .tab-container {
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.tab-container .tab-div {
    width: 100%;
    overflow: auto;

    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 1rem 0 1rem;
}

.tab-div::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}

.tab-div .tab-btn {
    border: none;
    border-radius: 5px;

    padding: 0.4rem 1.2rem;
    font-size: 0.7rem;
    text-transform: uppercase;

    background-color: var(--tab-bgColor);
    color: var(--tertiary-txtColor);
}

.tab-div .tab-btn:hover {
    background-color: var(--tab-bgHover);
    color: var(--tertiary-txtColor);
}

.latest-score {
    display: none;
}

.tab-div .tab-active {
    border: none;

    background-color: var(--bgRed);
    color: var(--tertiary-txtColor);
}

.tab-container .date-container {
    background-color: var(--primary-bgColor);
    width: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.date-container .date-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.date-wrapper #dateDisplay {
    color: var(--tertiary-txtColor);
    font-size: 0.75rem;
    width: 100%;
}

.date-container button {
    background-color: transparent;
    color: var(--secondary-txtColor);
    border: none;
    outline: none;
}

/** c o n t e n t  c o n t a i n e r **/
.content-container {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--primary-bgColor);
}

.content-container .standing-wrapper {
    width: 100%;
}

.standing-wrapper .dropdown-container {
    width: 100%;
    margin-bottom: 1rem;
}

.dropdown-container .dropdown-btn {
    background-color: var(--notification-bgColor);
    width: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

/** fav btn **/
.dropdown-btn .fav-btn {
    background-color: transparent;
    color: var(--tertiary-txtColor);

    border: none;
    outline: none;

    font-size: 0.8rem;
}

/** team **/
.dropdown-btn .team-div {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--secondary-txtColor);

}

.team-div .team-logo {
    height: 1.5rem;
}

.team-logo .img-fluid {
    height: 100%;
    width: 100%;
}

.team-div .team-name {
    font-size: 0.9rem;
    font-weight: 600;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 5rem;
}

.team-div .pin-btn {
    background-color: transparent;
    color: var(--pinColor);

    border: none;
    outline: none;

    font-size: 0.8rem;
}

/** standing btn **/
.dropdown-btn .standing-btn {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    border: none;
    outline: none;

    font-size: 0.85rem;
    background-color: transparent;
    color: var(--secondary-txtColor);
}

/** standing list container **/
.dropdown-container .standing-list-box {
    width: 100%;
    height: 5rem;
    padding: 0 0.5rem;
    color: var(--tertiary-txtColor);
}

.standing-list-box .standing-list {
    width: 100%;
    height: 100%;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(245,245,245, 0.5);

    display: grid;
    grid-template-columns: 1.5rem 2fr 3.5rem;
}

.standing-list .standing-favorite {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.standing-favorite button {
    background-color: transparent;
    color: var(--tertiary-txtColor);
    border: none;
    outline: none;
}

.standing-list .standing-quarter {
    width: 100%;
    height: 100%;

    display: flex;
    order: 3;
    align-items: center;
}

.standing-quarter p {
    font-size: 0.9rem;
}

.standing-list .standing-team {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.standing-team .first-team {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.standing-team .second-team {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.standing-team .team-logo {
    height: 1.3rem;
    width: 1.3rem;
}

.standing-team .team-logo .img-fluid {
    height: 100%;
    width: 100%;
}

.standing-team .team-name {
    font-size: 0.8rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 7.5rem;
}

.standing-list .standing-scores {
    width: 35%;
    height: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.standing-scores .first-team-scores {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.standing-scores .second-team-scores {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.standing-scores p{
    font-size: 0.5rem;
}

.standing-list .standing-list-btn {
    border-left: 1px solid rgba(245,245,245, 0.5);
    width: 15%;
    height: 35%;

    margin:  auto 0;
    
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.standing-list-btn button {
    background-color: transparent;
    color: rgba(245,245,245, 0.5);
    border: none;
    outline: none;
    width: 100%;
}

.standing-list-btn button:hover {
    color: var(--secondary-bgColor);
}

/*** S I D E B A R  R I G H T ***/
.article .sideRight {
    width: 30rem;
    height: 43rem;

    position: sticky;
    top: 0;

    display: none;
}

.sideRight .sideright-advertisement-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

/** top **/
.sideright-advertisement-wrapper .sideright-advertisement-top {
    height: 48%;
    width: 100%;
}

.sideright-advertisement-top .img-fluid {
    height: 100%;
    width: 100%;
}

/** bottom **/
.sideright-advertisement-wrapper .sideright-advertisement-bottom {
    height: 48%;
    width: 100%;
}

.sideright-advertisement-bottom .img-fluid {
    height: 100%;
    width: 100%;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 99999;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;

    display: none;
}

.modal .modal-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto 0;
}

.modal-content .login-container {
    height: auto;
    width: 100%;
    padding: 1rem;

    background-color: var(--primary-bgColor);
    color: var(--tertiary-txtColor);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.login-container span {
    width: 100%;
    text-align: end;
}

.login-container p {
    font-size: 1.1rem;
}

.login-container .login-close {
    color: var(--tertiary-txtColor);

    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.1rem 0.3rem;
}

.login-close:hover {
    color: crimson;
    background-color: var(--bgGlass);
    border-radius: 50%;
}

.login-container .login-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-wrapper .login-btn-wrapper {
    width: 100%;
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--secondary-bgColor);
    color: var(--bgBlack);
    border-radius: 10px;
}

.login-btn-wrapper:hover {
    background-color: var(--bgGlass);
}

.login-btn-wrapper i {
    color: var(--primary-txtColor);
}

.login-btn-wrapper p {
    font-weight: 600;
    font-size: 0.9rem;
}

/************ B R E A K P O I N T S ****************/
@media only screen and (min-width: 320px) {
    .navigation-links i {
        font-size: 1.2rem;
    }

    .navigation-links p {
        font-size: 0.8rem;
    }

    .date-wrapper #dateDisplay {
        font-size: 0.8rem;
    }
    
    .standing-team .team-name {
        width: 10rem;
    }
}

/*** super small devices ***/
@media only screen and (min-width: 375px) {
    .team-div .team-name {
        width: 6rem;
    }
}

/*** small devices ***/
@media only screen and (min-width: 576px) {
    .advertisement-wrapper .advertisement-img {
        height: 6rem;
    }

    .nav .logo-img {
        height: 2rem;
        width: 2rem;
    }

    .nav .nav-links {
        flex-direction: row;
        justify-content: end;
    }

    .nav-links .search-div {
        width: 50%;
    }

    .header .navigation {
        gap: 1rem;
        padding: 0.8rem 0;
    }

    .logo-img .logo-mobile {
        display: flex;
    }

    .logo-img .logo-desktop {
        display: none;
        width: auto;
    }

    .header .navigation {
        padding: 1rem 1rem 0 1rem;
        gap: 2rem;
    }

    .navigation-links i{
        font-size: 1.6rem;
    }

    .navigation-links p {
        font-size: 0.95rem;
    }

    .tab-container .tab-div {
        gap: 1.3rem;
    }

    .tab-div .tab-btn {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .date-wrapper #dateDisplay {
        font-size: 0.9rem;
    }

    .dropdown-btn .fav-btn {
        font-size: 1rem;
        margin-right: 0.3rem;
    }

    .dropdown-btn .team-div {
        gap: 0.7rem;
    }

    .team-div .team-logo {
        height: 1.5rem;
        width: 1.5rem;
    }

    .team-div .team-name {
        font-size: 1rem;
        width: 7rem;
    }

    .dropdown-btn .standing-btn {
        font-size: 0.95rem;
    }

    .standing-list-box .standing-list {
        grid-template-columns: 1.8rem 4rem 2fr 2fr 1fr;
    }

    .standing-list .standing-favorite {
        font-size: 1rem;
    }

    .standing-list .standing-quarter {
        order: 0;
        width: 100%;
    }

    .standing-team .team-name {
        font-size: 0.9rem;
    }

    .standing-list .standing-scores {
        width: 90%;
        display: flex;
    }

    .standing-scores p{
        font-size: 0.8rem;
    }

    .standing-list .standing-list-btn {
        display: flex;
        gap: 0.8rem;
        width: 100%;
    }

    .standing-list-btn button {
        width: auto;
    }

    .notification {
        display: block; /* show on mobile */
    }

    .modal-content .login-container {
        width: 24rem;
    }

    .login-container p {
        font-size: 1.3rem;
    }

    .login-container small {
        font-size: 1rem;
    }

    .login-wrapper .login-btn-wrapper {
        padding: 0.7rem;
    }

    .login-btn-wrapper i {
        font-size: 1rem;
    }
    
    .login-btn-wrapper p {
        font-size: 1rem;
    }
    
}

/*** medium devices ***/
@media only screen and (min-width: 768px) {
    .top-nav {
        padding: 0 0.5rem 0.5rem 0.5rem;
    }

    .top-nav .advertisement-wrapper {
        align-items: start;
        padding: 0.5rem 1rem;
    }

    .advertisement-wrapper p {
        font-size: 0.9rem;
    }

    .advertisement-wrapper .advertisement-img {
        width: 95%;
        height: 8rem;
        align-self: center;
    }

    .header .nav {
        padding: 1rem 1rem 0 1rem;
    }

    .header .navigation {
        gap: 2.5rem;
        justify-content: start;
        padding: 1.5rem 1rem 0 1rem;
    }

    .navigation-links i {
        font-size: 1.3rem;
    }

    .content-wrapper .tab-container {
        flex-direction: row;
    }

    .team-div .pin-btn {
        font-size: 1rem;
    }

    .tab-container .date-container {
        background-color: transparent;
        width: 15rem;
    }

    .tab-container .tab-div {
        padding: 1rem;
    }

    .date-wrapper #dateDisplay {
        width: auto;
    }

    .dropdown-container .dropdown-btn {
        padding: 0.5rem 1rem;
    }

    .standing-list-box .standing-list {
        padding: 0.8rem 0.5rem;
    }

    .standing-list-box .standing-list {
        grid-template-columns: 2rem 1fr 3fr 2fr 1fr;
    }
}

/*** large devices ***/
@media only screen and (min-width: 992px) {
    .navigation .navigation-links {
        flex-direction: row;
        gap: 0.6rem;
    }

    .navigation-links i {
        font-size: 1.05rem;
    }

    .navigation-links p {
        font-size: 1rem
    }

    .logo-img .logo-mobile {
        display: none;
    }
    
    .logo-img .logo-desktop {
        display: flex;
    }

    .nav-links .search-div {
        width: 30%;
    }

    .navigation .navigation-links:hover {
        border-bottom: 4px solid var(--bgRed);
    }

    .active-link {
        border-bottom: 4px solid var(--bgRed);
    }

    .header .navigation {
        gap: 2rem;
    }

    .standing-team .team-name {
        width: 20rem;
    }

    .standing-list .standing-scores {
        width: 100%;
    }

    .standing-list .standing-list-btn  {
        gap: 1rem;
    }
}

/*** extra large devices ***/
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        height: auto;
    }

    .advertisement-wrapper .advertisement-img {
        width: 90%;
        height: 8rem;
    }

    .nav-links .search-div {
        width: 20%;
    }

    .navigation .navigation-links:hover {
        border-bottom: 5px solid var(--bgRed);
    }

    .active-link {
        border-bottom: 5px solid var(--bgRed);
    }

    .main .section {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .article .sideLeft {
        display: flex;
    }

    .team-pinned-list .team-pinned-img {
        width: 22%;
    }

    .team-pinned-list .team-pinned-name {
        width: 100%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .main-content .notification-wrapper {
        display: flex;
    }

    .main-content .content-wrapper {
        background-color: var(--primary-bgColor);
        padding: 1rem 1rem 0 1rem;
        border-radius: 10px;
    }

    .content-wrapper .tab-container {
        padding-bottom: 1rem;
    }

    .tab-container .tab-div {
        padding: 0;
        gap: 0.8rem;
    }

    .tab-div .tab-btn {
        font-size: 0.8rem;
        padding: 0.7rem 1rem;
    }

    .tab-container .date-container {
        background-color: var(--tab-bgColor);
        width: 15rem;
        padding: 0.8rem;
        border-radius: 5px;
    }

    .date-wrapper #dateDisplay {
        color: var(--secondary-txtColor);
        font-weight: 600;
    }

    .date-wrapper button {
        color: var(--secondary-txtColor);
    }

    .dropdown-container .dropdown-btn {
        border-radius: 10px;
    }

    .nav-links .menu-content {
        top: 3rem;
    }

    .menu-link i {
        font-size: 1rem;
    }

    .menu-link p {
        font-size: 1rem;
    }

    .article .sideRight {
        display: flex;
    }
}

/*** double extra large devices ***/
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        height: auto;
    }
}